# Python
*.py[cod]
__pycache__/
*.so

# Virtual environment
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDEs and editors
.idea/
.vscode/
*.iml

# Jupyter Notebooks
.ipynb_checkpoints/

# pyenv
.python-version

# pytest
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# VS Code settings folder
.vscode/

# Pycharm
.idea/

# Docker
*.log

# Ignore all .env files (used for sensitive data like database passwords)
.env
